<div class="container mt-3">
  <div class="row">
      <div class="col-md-6">
          <div class="jumbotron text-white bg-dark" id= "jumbotron-home">
              <section>
                  <h1 class="display-4 ">Últimas reseñas de Profesores</h1>
                  <p class="lead" >Esto es el comienzo de mi carrera como un programador de Ruby on Rails</p>
                  <hr class="my-4">
                  <p>Parece un simple blog básico, y es exactamente eso!</p>
                  <a class="btn btn-primary btn-lg" href="about" role="button">Saber más</a>
              </section>
          </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron text-white bg-dark" id= "jumbotron-home">
            <section>
                <h1 class="display-4 ">Últimas reseñas de Cursos</h1>
                <p class="lead" >Esto es el comienzo de mi carrera como un programador de Ruby on Rails</p>
                <hr class="my-4">
                <p>Parece un simple blog básico, y es exactamente eso!</p>
                <a class="btn btn-primary btn-lg" href="about" role="button">Saber más</a>
            </section>
        </div>
    </div>
  </div>
</div>
