
<%flash.each do |key, msg| %>
    <% if key == "success"%>
        <div class="alert alert-success" role="alert">
                <%= msg%>
        </div>
    <% elsif key == "danger"%>
        <div class="alert alert-danger" role="alert">
                <%= msg%>
        </div>
    <% elsif key == "notice"%>
        <div class="alert alert-primary" role="alert">
                <%= msg%>
        </div>
    <%end%>
<%end%>